<!doctype html>
<html>
	<head>
    <title>General stats about the sightings</title>
    </head>

	<body>
		In the project, we work on keeping track of 3023 known squirrels in the Central Park. The data is acquired from 2018 Central Park Squirrel Census, including location coordinates, age, primary and secondary fur color, elevation, activities, communications, and interactions between squirrels and with humans. 	
		<br/>
		<h1>How are the squirrels look like? </h1>
		85% of the squirrels are adult, and 11% are juvenile. Others unknown.
		<img src="sightings/age.png" width="400" height="200" />	
		
		<br/>
		Altogether 18 types of combination of primary and highlight fur colors is under consideration. More than half of squirrels have a primary color of gray. 25% of squirrels are grey with Cinnamon highlights.
		<br/>	
		There are some interesting colors of fur feather, such as white further with black highlight. Look like a panda? 
		
		<img src="sightings/color.png" width="800" height="600" />
		 		
		<h1>What are the squirrels doing most of time?</h1>
		Through the behavior analysis of sightings, we can imagine the typical day of a squirrel. We analyze 5 attributes in the dataset: running, chasing, climbing, eating, and foraging.
		<br/>
		47.5% of squirrels were seen foraging. 25% were seen eating. Perhaps squirrel's life is focused on food. 
		
		<img src="sightings/motion1.png" width="800" height="600" />
		<Br/>
		200 of the squirrels were possibly doing nothing. And several squirrels were seen running, chasing, climbing, and eating at the same time.
		
		<img src="sightings/motion2.png" width="800" height="600" />
		
		
		<h1>Behavior Analysis of squirrel</h1>
		In comparision, squirrels are more active in the afternoon.
		
		<img src="sightings/shift.png" width="800" height="600" />
		
			

	</body>
</html>
